# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = country_medical_insurance.settings

[deploy:country_medical_insurance]
url = http://localhost:6801/
project = country_medical_insurance
